<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Nickel Todo</title>
    <style type="text/css">
    html, body, #app {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      position: relative;
    }
    .todo__options, .todo__options a {
      font-size: 0.7em;
      color: #666;
    }
    </style>
    <script>
    document.addEventListener('click', function(e) {
      console.log(e.target.className);
      if (e.target && e.target.className === 'toggle') {
        window.location = '/toggle/' + e.target.value;
      }
    });
    </script>
  </head>
  <body>
    <form id="app" action="/>
      <div id="todos">
        <h1>Todo list!</h1>
        {{#todos}}
        {{^deleted}}
        <div class="todo{{#completed}} todo--completed{{/completed}}">
          <input class="toggle" type="checkbox" name="todos" value="{{id}}" {{#completed}}checked{{/completed}} />
          <span class="todo__title">{{title}}</span>
          <span class="todo__options">
            [
            <a href="/toggle/{{id}}">Toggle done</a>
            -
            <a href="/delete/{{id}}">Delete</a>
            ]
          </span>
        </div>
        {{/deleted}}
        {{/todos}}
      </div>
    </form>
  </body>
</html>
